---
title: Simon shoots
---

<div id="home">
  <div class="home-content">
    <p>ALBUMS</p>
    <p>
      <a href="" class="album">_istanbul</a>
    </p>
    <p>
      <a href="" class="album">_shanghai</a>
    </p>
    <p>
      <a href="" class="album">_paris</a>
    </p>
  </div>
</div>

<script>
  $(document).ready(function() {
    $("p").each(function(index) {
        $(this).delay(400*index).fadeIn(300);
    });
  });
</script>
