---
title: Simon shoots
---

<div id="home">
  <div class="home-content">
    <h2>PLACES.</h2>
    <p>
      <a href="#" class="album">_istanbul</a>
    </p>
    <p>
      <a href="#" class="album">_shanghai</a>
    </p>
    <p>
      <a href="#" class="album">_paris</a>
    </p>
  </div>
</div>

<script>
  $(document).ready(function() {
    $( window ).load(function() {
      $(".album").each(function(index) {
          $(this).delay(500*index).fadeIn(600);
      });
    });
  });
</script>
